{{#each order}}
    <tr>
        <td class="text-left">{{productID.prodName}}</td>
        <td class="text-right" >{{orderQuantity}}</td>
        <td class="text-right" >₱{{addZeroes productID.prodPrice}}</td>
        <td class="text-right pr-2">₱{{addZeroes subTotal}}</td>
    </tr>
{{/each}}