{{#each sales}}
    <tr>
        <td class="text-left pl-4">{{prodName}}</td>
        <td>{{orderQuantity}}</td>
        <td>₱ {{productPrice}}</td>
        <td class="font-weight-bold">₱ 210.00</td>
    </tr>
{{/each}}