{{#each supply}}
    <tr style="font-size: 13px;">
        <td class="text-left pl-3">{{brandName}}</td>
        <td>{{ingredientID.ingredientName}}</td>
        <td>{{totalSupply}}</td>
    </tr>
{{/each}}