{{#each supply}}
    <tr style="font-size: 13px;">
        <td class="text-left pl-3">{{brandName}}</td>
        <td>{{ingredientID.ingredientName}}</td>
        <td>{{totalSupply}}</td>
        <td style="width: 70px !important;">
            <form action="/supplies/update" method="POST">
            <input name="id" type="hidden" value="{{this._id}}">
            <input class="compare-inv" placeholder="Enter physical stock" type="number" name="physicalCount" min="0">
        </td>
        <td style="width: 70px !important;"><button type="submit" class="btn btn-sm btn-primary" style="height: 28px !important; font-size: 10px;">Update</button></td>
        </form>
    </tr>
{{/each}}