<title>Add Expense</title>
<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/addExpense#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS"><i class="fa fa-fw fa-store mr-2"></i>Point of Sale</a></li>
                    {{#if isAdmin}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/products"><i class="fa fa-fw fa-star mr-2"></i>Products</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement"><i class="fa fa-fw fa-shopping-basket mr-2"></i>Procurement</a></li>                    
                        <li class="nav-item" role="presentation"><a class="nav-link" 
                            style="background-color: #c64327 !important; color: #ffffff !important;" href="/expense"><i class="fa fa-fw fa-calculator mr-2"></i>Expense</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history"><i class="fa fa-fw fa-file-alt mr-2"></i>Reports</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Add Expense</span></div>
                    <div class="buttons">
                        <button type="button" class="btn btn-primary btn-sm save-btn">Save</button>
                        <a href="/expense"><button type="button" class="btn btn-primary btn-sm can-btn">Cancel</button></a>
                    </div>            
                </nav>    
            <div class="container-fluid" style="margin-left: 225px;width: 82%;">
                {{>messages}}
                <div class="card shadow mb-3">  
                    <div class="form-container" style="padding: 20px;">
                        <div class="col-4">
                            <label for="expenseDate" style="font-weight: bold;">Date</label>
                            <input type="date" class="form-control" id="expenseDate">
                        </div>
                        <hr>
                        <div class="col-12">
                            <p style="font-weight: bold;">List of Expenses</p>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dynamic_field">  
                                    <tr>
                                        <th style="text-align: center; font-size: 13px;">Expense Name</th>
                                        <th style="text-align: center; font-size: 13px;">Expense Type</th>
                                        <th style="text-align: center; font-size: 13px;">Description</th>
                                        <th style="text-align: center; font-size: 13px;">Amount</th>
                                        <th style="text-align: center; font-size: 13px;">Add or Remove</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group" style="height: 40px; margin-bottom: 0rem;">
                                                <input type="text" class="form-control" id="expenseName" placeholder="Enter expense" style="width:150px;" maxlength="45"> 
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0rem;">
                                                <select class="form-control" id="expenseType" style="width:115px;">
                                                    <option id="reg">Regular</option>
                                                    <option id="irreg">Irregular</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0rem !important;">
                                                <input type="text" class="form-control" placeholder="Enter short description" id="expenseDesc" style="width:230px;" maxlength="45"> 
                                            </div> 
                                        </td>
                                        <td>
                                            <div class="form-group" style="margin-bottom: 0rem !important;">
                                                <input type="number" class="form-control" placeholder="Amount" id="expenseAmt" style="width:120px;" min="1" step="0.01">
                                            </div>  
                                        </td>
                                        <td>
                                            <button style="width: 100px; height: 40px;" type="button" id="addExpense" class="btn btn-primary add-btn">+ Add</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2021</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/addExpense#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/public/js/appendExpense.js"></script>
</body>