<title>Login</title>
<body>
    <div class="login-clean">
        <form method="post" action="/login">
            <h2 class="sr-only">Login Form</h2>
            <div class="logo-img"><img src="../public/img/logo.png" width="125"></div>
            {{>messages}}
            <div class="form-group input-container mt-3">
                <i class="fa fa-user fa-lg icon"></i> 
                <input class="form-control input-field" type="text" name="username" placeholder="Username">
                
            </div>
            <div class="form-group input-container">
                <i class="fa fa-key fa-lg icon"></i>
                <input class="form-control input-field" type="password" name="password" placeholder="Password">
                
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block login-btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</body>