<title>Profitability</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/profitability#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS"><i class="fa fa-fw fa-store mr-2"></i>Point of Sale</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products"><i class="fa fa-fw fa-star mr-2"></i>Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies"><i class="fa fa-fw fa-archive mr-2"></i>Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement"><i class="fa fa-fw fa-shopping-basket mr-2"></i>Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expense"><i class="fa fa-fw fa-calculator mr-2"></i>Expenses</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important;" href="/order_history"><i class="fa fa-fw fa-file-alt mr-2"></i>Reports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 50px !important; height: 36px !important;" href="/order_history">Order History</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 50px !important; height: 36px !important;" href="/sales_report">Sales Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 50px !important; height: 36px !important;" href="/inventory_report">Inventory Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 50px !important; height: 36px !important;" href="/purchase_report">Purchase Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #f47639 !important; color: #ffffff !important; padding-left: 50px !important; height: 36px !important;" href="/profitability">Profitability Report</a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Profitability Report</span></div>
                    <div class="mr-2 font-weight-bold"><label for="salRepMonth" class="col-form-label">Month</label></div>
                    <div class="col-2">
                        <select class="form-control" name="salRepMonth" id="isMonth">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="mr-3 ml-3 font-weight-bold"><label for="salRepYear" class="col-form-label">Year</label></div>
                    <div class="col-xs-2 date-report"><input type="number" class="form-control" placeholder="yyyy" name="salRepYear" id="isYear"></div>
                    <div><button type="submit" class="btn btn-primary btn-sm add-btn ml-3 generate">Generate</button></div>
                </div>
            </nav>
            <div class="container-fluid" style="margin-left: 225px; width: 82%;">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3 text-center mb-2">
                            <p class="ts0 m-0 font-weight-bold">Orange &amp; Spices</p>
                            <p class="ts1 m-0 font-weight-bold">Income Statement</p>
                            <p class="ts2 m-0 font-weight-bold" id="reportTitle">For the Month Ended January 31, 2021</p>
                            <p class="text-muted m-0" id="datetime" style="text-align:center">Date Generated: {{timestamp}}</p>
                        </div>
                        <table class="table text-center table-borderless profit">
                            <caption class="text-center font-weight-bold">*END OF REPORT*</caption>
                            <tr>
                                <th class="text-left">Sales</th>
                                <td class="text-right" id="sales">₱120,000</td>
                            </tr>
                            <tr>
                                <th class="text-left">Cost of Sales</th>
                                <td class="text-right" id="cos"></td>
                            </tr>
                            <tr>
                                <th class="text-left highlight">Gross Profit</th>
                                <td class="text-right highlight font-weight-bold">₱ </td>
                            </tr>
                            <tr>
                                <th class="text-left" colspan="2"> List of Expenses:</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <th class="text-left">Gas 11kg Tank</th>
                                    <td class="text-right" value="{{expenseAmount}}">₱3,000</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Electricity</th>
                                    <td class="text-right" value="{{expenseAmount}}">₱10,000</td>
                                </tr>
                                <tr>
                                    <th class="text-left">Salary</th>
                                    <td class="text-right" value="{{expenseAmount}}">₱64,000</td>
                                </tr>
                            </tbody>
                            <tr>
                                <th class="text-left highlight">Total Expenses</th>
                                <td class="text-right highlight font-weight-bold" id="totalExp">(₱ 77,000)</td>
                            </tr>  
                            <tr>
                                <td class="white"></td>
                                <td class="white"></td>
                            </tr>                         
                            <tr>
                                <th class="text-left highlight">Net Income</th>
                                <td class="text-right highlight font-weight-bold">₱</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/profitability#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>

{{!-- <script>
 var dt = new Date();
    y = dt.getFullYear();
    m = dt.getMonth() + 1;
    d = dt.getDate();

    if(m >= "9")
        document.getElementById("datetime").innerHTML = "Date Generated: " + y + "-" + "0" + m + "-" + d + " " + dt.toLocaleTimeString();
    else
        document.getElementById("datetime").innerHTML = "Date Generated: " + y + "-" + m + "-" + d + " " + dt.toLocaleTimeString();

    function getDaysInMonth(m, y) {
        return m===2 ? y & 3 || !(y%25) && y & 15 ? 28 : 29 : 30 + (m+(m>>3)&1);
    }
    //date range
    $(document).ready(function () { 

        $(".generate").click(function () {
            var months = new Array();
                months[0] = "January";
                months[1] = "February";
                months[2] = "March";
                months[3] = "April";
                months[4] = "May";
                months[5] = "June";
                months[6] = "July";
                months[7] = "August";
                months[8] = "September";
                months[9] = "October";
                months[10] = "November";
                months[11] = "December";
                
            var month = document.getElementById("isMonth").value;
            var year = document.getElementById("isYear").value;
            //var day = getDaysInMonth(month, year);
            var date = new Date(year, month, 0);
            var day = date.getDate();
            var monthName = months[date.getMonth()];

            console.log(month);
            console.log(year);
            console.log(day);
            document.getElementById("reportTitle").innerHTML = "For the Month Ended " + monthName + " " + day + ", " + year;
        })
    });
</script> --}}
