<title>Sales Report</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/sales_report#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/POS">Point of Sale</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement">Procurement</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/expenseDetails">Expenses</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history">Reports</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="/order_history">Order History</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="background-color: #c64327 !important; color: #ffffff !important; padding-left: 16px !important; height: 36px !important;" href="/sales_report">Sales Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="/inventory_report">Inventory Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="#">Purchase Report</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" 
                        style="padding-left: 16px !important; height: 36px !important;" href="/profitability">Profitability Report</a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="title"><span class="text-primary m-0 font-weight-bold">Sales Report</span></div>
                    <form <!--action="/order_history" method="POST" --> style="display: flex; flex-direction: row;">
                        <div class="mr-3 col-xs-4 font-weight-bold"><label for="ordfromDate" class="col-form-label">From</label></div>
                        <div class="col-xs-3 date-report"><input type="date" class="form-control" name="salfromDate" id="fromDate"></div>
                        <div class="mr-3 ml-4 col-xs-4 font-weight-bold"><label for="ordToDate" class="col-form-label">To</label></div>
                        <div class="col-xs-3 date-report"><input type="date" class="form-control" name="salToDate" id="toDate"></div>
                        <div><button type="submit" class="btn btn-primary btn-sm add-btn ml-3 generate">Generate</button></div>
                    </form>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold" id="reportTitle">Sales Report from 2020-09-11 to 2020-09-18</p>
                            <p class="text-muted m-0" id="datetime">Date Generated: 2020-09-18 4:39 pm</p>
                        </div>
                        <table class="table text-center table-bordered">
                            <caption class="text-center font-weight-bold">*END OF REPORT*</caption>
                            <thead class="border-bottom" style="background-color: #c64327 !important; color: #ffffff !important;">
                              <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                              </tr>
                            </thead>
                            <tbody class="border-bottom">
                                {{#each products}}
                                <tr>
                                    <td class="text-left pl-4">{{prodName}}</td>
                                    {{#each orders}}
                                        <td>{{orderQuantity}}</td>
                                    {{/each}}
                                    <td>₱ {{prodPrice}}</td>
                                    <td class="font-weight-bold">₱ </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="sales_report#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

<script>
    //date range
    $(document).ready(function () { 
        $(".generate").click(function () {
            var fromDate = document.getElementById("fromDate").value;
            var toDate = document.getElementById("toDate").value;
            console.log(fromDate);
            console.log(toDate);
            document.getElementById("reportTitle").innerHTML = "Sales Report from " + fromDate + " to " + toDate;

            //date generated
            var dt = new Date();
            y = dt.getFullYear();
            m = dt.getMonth() + 1;
            d = dt.getDate();

            if(m >= "9")
                document.getElementById("datetime").innerHTML = "Date Generated: " + y + "-" + "0" + m + "-" + d + " " + dt.toLocaleTimeString();
            else
                document.getElementById("datetime").innerHTML = "Date Generated: " + y + "-" + m + "-" + d + " " + dt.toLocaleTimeString();
        })
    });
</script>
